<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  crossorigin="anonymous">

  <!-- nav font -->
  <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
  <!-- fafa -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="tp" style="height: 20px; letter-spacing: 13px; color: gray; background-color: white;">
    <ul>
        <i class="fa fa-facebook-official" style="font-size:15px; margin-top: 10px; margin-left: -500px;"></i> 
        
        <i class="fa fa-instagram" style="font-size:15px; margin-top: 15px;"></i>
        <i class="fa fa-twitter" style="font-size:15px; margin-top: 15px;"></i>
        <i class="fa fa-whatsapp" style="font-size:15px; margin-top: 15px;"></i>
        <i class="fa fa-youtube" style="font-size:15px; margin-top: 15px;"></i>
        <i class="fa fa-truck" style="font-size:15px; margin-top: 15px;"></i>
        
      </ul>
      
      </div >

      <div>
  

 
        <h6 style="color: darkgray; font-weight: bold; font-family: nunito sans-serif; margin-left: 840px; font-size: 12px; margin-top: 0px;">HOTLINE:+94714840361</h6>
      
        </div>
    
      <hr >
      <div>
        <div class="img " style="height: 80px; width: 50px;" >
          <img src="/assets/favicon_io/favicon.png" alt="logo" style="height: 50px; width: 250px; margin-top: 10px; margin-left: -735px;">
      </div>
      <div>
        <div id="cover" style="margin-left: -180px; margin-top: -80px;">
          <form method="get" action="">
            <div class="tb" style="margin-left: 55px; margin-top: -58px;">
              <div class="td" ><input type="text" placeholder="Search" style="color: black;" required></div>
              <div class="td" id="s-cover">
                <button type="submit">
                  <div id="s-circle" style="margin-left: -28px;"></div>
                  <span style="width: 20px; margin-top: -3px;"></span>
                </button>
              </div>
            </div>
          </form>
          <div class=" cardd " style="margin-top: -50px;">
      
            
            
        
          </div>
        
        </div>
        </div>
       
      
      
      
      
      
      </div>
      
      <hr>
  <nav class="navbar navbar-expand-lg bg- navbar-dark bb" id="xy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li><a [routerLink]="['/userhome']" id="colarr">Home</a></li>
        <li><a [routerLink]="['/myprofile']" id="colarr">Myprofile</a></li>
        <li><a [routerLink]="['/userdiscount']" id="colarr">Discounts</a></li>

        <!-- <li class="nav-item"><a href="track.html" id="colarr">track</a></li> -->
        <li class="nav-item"><a [routerLink]="['/userfeedback']" id="colarr">Feedback</a></li>
        <li class="nav-item"><a id="colarr" [routerLink]="['/']" (click)="logoutuser()" style="margin-left: 950px;">Logout</a></li>
        <li class="nav-item"></li>

      </ul>
      <a [routerLink]="['/cart']" class="notification">
        <i class="fa fa-shopping-cart" id="ct"></i>
        <!-- <span class="badge" id="notycount">0</span> -->
      </a>
    </div>
  </nav>
  <hr>
  
  <style>

    * { font-family:tahoma; font-size:12px; padding:0px;margin:0px;}
        p { line-height:18px; }
        div { width:500px; margin-left:auto; margin-right:auto;}
      
    </style>
</body>

</html>