<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <app-ind></app-ind>
  <!-- <section class="contact"> -->
  <div class="content">
    <h2>.</h2>
  </div>
  <div class="container">
    <div class="contactFrom">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <h4>Edit medicine </h4>




        <div style="color: red;">
          <h6>Medicinename = {{onemedicine.medicinename}}</h6>
          <h6>Medicinevolume = {{onemedicine.medicinevolume}}</h6>
          <h6>Medicineprice = {{onemedicine.medicineprice}}</h6>
          <h6>If any change then write in below form</h6>
        </div>
        <div class="inputBox">
          <input type="text" name="medicinename" ngModel  #medicinename="ngModel">
          <span>Medicine name</span>
        </div>
        <div class="inputBox">
          <select name="medicinevolume" ngModel  #medicinevolume="ngModel">
            <option value="small">10mg</option>
            <option value="medium">20mg</option>
            <option value="large">50mg</option>
          </select>
          <span>Choose Medicine volume</span>

        </div>
        <div class="inputBox">
          <input type="number" name="medicineprice" min="1" ngModel  #medicineprice="ngModel">
          <span>Medicine price</span>
        </div>
        <div class="inputBox">
          <input type="file" name="medicinepic" title="choose medicine image" (change)="selectImage($event)" ngModel
            #medicinepic="ngModel">
          <!-- <span>Choose medicine pic</span> -->
        </div>
        <div class="inputBox">
          <input type="submit" [disabled]="f.invalid" value="submit">

        </div>
      </form>
    </div>
  </div>
  <!-- </section> -->
</body>

</html>